/* Register */
.form {
  margin: 80px 0;
  color: $c-secondary;
  .container {
    .form-container {
      position: relative;
      max-width: 992px;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25),
        7px 7px 10px rgba(0, 0, 0, 0.22);
      .form__content {
        display: flex;
        justify-content: center;
        .form-group:not(:nth-child(7)) {
          display: flex;
          flex-direction: column;
          margin-bottom: 40px;
          position: relative;
          color: $c-secondary;
          label {
            position: absolute;
            top: 0;
            left: 5px;
            padding: 2px 0;
            font-size: 16px;
            transition: all 0.3s ease-in-out;
            color: $c-secondary;
          }
          input:not([type='radio']) {
            height: 30px;
            outline: none;
            border: none;
            width: 100%;
            padding: 10px 0;
            background: transparent;
            font-size: 16px;
            caret-color: $c-primary;
            color: $c-secondary;
            border-bottom: 1px solid $c-primary;
            &:focus ~ label,
            &:valid ~ label {
              top: -20px;
              left: 0;
              color: $c-primary;
              font-size: $fs-7;
            }
          }
        }
        .form-group:nth-child(7) {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 30px;
          margin-bottom: 40px;
          .radio-container {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            input {
              opacity: 0;
              &:checked ~ .check-radio {
                background-color: $c-primary;
                transition: all 0.3s ease-in-out;
              }
              &:checked ~ .check-radio::after {
                display: block;
              }
            }
            .check-radio {
              height: 20px;
              width: 20px;
              background-color: $c-secondary;
              border-radius: 50%;
              display: inline-block;
              position: relative;
              transition: all 0.3s ease-in-out;
              &::after {
                content: '';
                position: absolute;
                display: none;
                width: 10px;
                height: 10px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background-color: $bg-secondary;
                transition: all 0.5s ease-in-out;
              }
            }
            &:hover .check-radio {
              background-color: lighten($bg-primary, 20%);
            }
          }
        }
        .form-panel {
          width: 50%;
          overflow: hidden;
          transition: all 0.6s ease-in-out;
          padding: 50px 30px;
          h3 {
            @include title-h3;
            margin-bottom: 30px;
            text-align: center;
            font-size: $fs-4;
          }
          .form__signup-submit {
            text-align: center;
            button {
              @include btn-primary-polygon;
            }
          }
        }
        .form__sign-up {
          border-radius: 15px 0 0 15px;
          background-image: $gradient-radial;
          overflow: hidden;
          @for $i from 1 through 8 {
            .item:nth-child(#{$i}) {
              transform: translateX(0);
              transition: all 0.6s ease-in-out;
              transition-delay: 50ms * $i;
            }
          }
        }
        .form__sign-in {
          border-radius: 0 15px 15px 0;
          background-image: $gradient-radial;
          overflow: hidden;
          @for $i from 1 through 4 {
            .item:nth-child(#{$i}) {
              transform: translateX(-100%);
              transition: all 0.6s ease-in-out;
              transition-delay: 50ms * $i;
            }
          }
        }
      }
      .overlay-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        transition: transform 0.6s ease-in-out;
        overflow: hidden;
        .overlay {
          position: relative;
          left: -100%;
          width: 200%;
          height: 100%;
          border-radius: 15px;
          background-color: $bg-secondary;
          transition: all 0.6s ease-in-out;
          .overlay-panel {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 30px;
            row-gap: 30px;
            text-align: center;
            position: absolute;
            top: 0;
            transform: translateX(0);
            transition: transform 0.6s ease-in-out;
            h3 {
              color: $c-primary;
              font-size: $fs-3;
            }
            p {
              font-size: $fs-6;
            }
            button {
              padding: 12px 45px;
              border-radius: 20px;
              border: 1px solid transparent;
              background-color: $c-primary;
              font-weight: $fw-normal;
              text-transform: uppercase;
              cursor: pointer;
              letter-spacing: 1px;
              transition: all 0.5s;
              &:hover {
                background-color: $bg-secondary;
                color: $c-secondary;
                border: 1px solid $c-primary;
              }
            }
          }
          .overlay-left {
            transform: translateX(-20%);
          }
          .overlay-right {
            right: 0;
            transform: translateX(0);
          }
        }
      }
      &.right-panel-active {
        .form__sign-up {
          @for $i from 1 through 8 {
            .item:nth-child(#{$i}) {
              transform: translateX(100%);
            }
          }
        }
        .form__sign-in {
          @for $i from 1 through 4 {
            .item:nth-child(#{$i}) {
              transform: translateX(0%);
            }
          }
        }
        .overlay-container {
          transform: translateX(-100%);
          .overlay {
            transform: translateX(50%);
            .overlay-left {
              transform: translateX(0);
            }
            .overlay-right {
              transform: translateX(20%);
            }
          }
        }
      }
    }
  }
}
