* {
  margin: 0px;
  padding: 0px;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  background-image: radial-gradient(#212322, #0e100f);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.btn-primary-trans {
  border-radius: 0px 3px;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
          clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
  padding: 10px 30px;
  background-color: #ffc014;
  color: #131514;
  border: solid #ffc014 2px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-primary-trans:hover {
  color: #ffc014;
  background-color: #202221;
  border: 2px solid #202221;
}

.btn-primary-dark {
  border-radius: 0px 3px;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
          clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
  padding: 10px 30px;
  background-color: #131514;
  color: #ffffff;
  border: none;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-primary-dark:hover {
  color: #131514;
  background-color: #ffc014;
}

.card {
  border-radius: 10px 0px;
  -webkit-clip-path: polygon(0 0, 93% 0, 100% 7%, 100% 100%, 7% 100%, 0 93%);
          clip-path: polygon(0 0, 93% 0, 100% 7%, 100% 100%, 7% 100%, 0 93%);
  text-align: center;
  background-color: #ffffff;
  padding: 30px 30px 10px;
  cursor: pointer;
  transition: all 0.7s;
}
.card:hover {
  box-shadow: 0px 0px 10px 2px #ffc014;
}
.card:hover img {
  transform: rotateZ(10deg) scale(1.05);
}
.card .card-img img {
  width: 100%;
  transition: all 0.7s;
}
.card .card-name {
  color: #202221;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0;
}
.card .card-description {
  font-size: 14px;
  font-weight: 200;
  margin: 10px 0;
}
.card .card-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
}
.card .card-button p {
  font-size: 18px;
  font-weight: 600;
  color: #202221;
}

.header .container .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.header .container .header__content .nav-bar a {
  margin-left: 80px;
  color: #ffffff;
  font-weight: 400;
  position: relative;
  transition: all 0.5s;
}
.header .container .header__content .nav-bar a:hover {
  color: #ffc014;
}
.header .container .header__content .nav-bar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffc014;
  left: 0;
  bottom: -10px;
  transition: all 0.5s;
}
.header .container .header__content .nav-bar a:hover::after {
  width: 100%;
}
.header .container .header__content .nav-bar .active {
  color: #ffc014;
}
.header .container .header__content .nav-bar .active::after {
  width: 100%;
}

.carousel {
  margin-top: 50px;
}
.carousel .container .carousel__list {
  position: relative;
  height: 350px;
}
.carousel .container .carousel__list .carousel__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.carousel .container .carousel__list .carousel__item .content-left {
  width: 40%;
}
.carousel .container .carousel__list .carousel__item .content-left .carousel__slogan {
  color: #ffc014;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 30px;
  opacity: 0;
}
.carousel .container .carousel__list .carousel__item .content-left .carousel__description {
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 10px;
  opacity: 0;
}
.carousel .container .carousel__list .carousel__item .content-left .carousel__star {
  color: #ffc014;
  margin-bottom: 30px;
  opacity: 0;
}
.carousel .container .carousel__list .carousel__item .content-left .carousel__star i {
  margin-right: 5px;
  font-size: 14px;
}
.carousel .container .carousel__list .carousel__item .content-left .btn-primary-trans {
  opacity: 0;
}
.carousel .container .carousel__list .carousel__item .content-right {
  width: 60%;
  position: relative;
}
.carousel .container .carousel__list .carousel__item .content-right img {
  width: 90%;
  opacity: 0;
  transition: all 1s;
}
.carousel .container .carousel__list .carousel__item .content-right img:hover {
  transform: rotate(0deg) translate(100px, -30px);
}
.carousel .container .carousel__list .carousel__item .content-right img:hover + p {
  color: #ffc014;
  letter-spacing: 0px;
  font-weight: 600;
}
.carousel .container .carousel__list .carousel__item .content-right p {
  position: absolute;
  top: 350px;
  left: 130px;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 15px;
  opacity: 0;
  transition: all 1s;
}
.carousel .container .carousel__list .carousel__item:nth-child(1) img {
  transform: rotate(-30deg) translate(100px, -30px) scale(0.5);
}
.carousel .container .carousel__list .carousel__item:nth-child(2) img {
  opacity: 1;
  transform: rotate(10deg) translate(100px, -30px) scale(1);
}
.carousel .container .carousel__list .carousel__item:nth-child(2) {
  z-index: 10;
}
.carousel .container .carousel__list .carousel__item:nth-child(2) .content-left .carousel__slogan {
  animation: downUp 1s forwards;
}
.carousel .container .carousel__list .carousel__item:nth-child(2) .content-left .carousel__description {
  animation: downUp 1s forwards;
  animation-delay: 0.5s;
}
.carousel .container .carousel__list .carousel__item:nth-child(2) .content-left .carousel__star {
  animation: downUp 1s forwards;
  animation-delay: 1s;
}
.carousel .container .carousel__list .carousel__item:nth-child(2) .content-left .btn-primary-trans {
  opacity: 1;
}
.carousel .container .carousel__list .carousel__item:nth-child(2) .content-right p {
  opacity: 1;
}
.carousel .container .carousel__list .carousel__nav {
  text-align: center;
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: absolute;
  z-index: 20;
  bottom: -30px;
}
.carousel .container .carousel__list .carousel__nav .btn-prev {
  background-color: #ffc014;
  width: 30px;
  height: 30px;
  border: solid 1px #ffc014;
  color: #131514;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
.carousel .container .carousel__list .carousel__nav .btn-prev:hover {
  background-color: #131514;
  color: #ffc014;
}
.carousel .container .carousel__list .carousel__nav .btn-next {
  background-color: #ffc014;
  width: 30px;
  height: 30px;
  border: solid 1px #ffc014;
  color: #131514;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
.carousel .container .carousel__list .carousel__nav .btn-next:hover {
  background-color: #131514;
  color: #ffc014;
}

.product {
  margin: 130px 0px;
}
.product .container .title {
  text-align: center;
  letter-spacing: 1.5px;
  padding: 20px 0;
  margin-bottom: 20px;
  color: #ffc014;
  font-size: 14px;
  text-transform: uppercase;
}
.product .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.product .container .content:hover .card:not(:hover) {
  opacity: 0.7;
  scale: 0.95;
  filter: grayscale(100%);
}

@keyframes downUp {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.cart {
  margin: 80px 0;
}
.cart .container .cart__title {
  margin-bottom: 50px;
}
.cart .container .cart__title h3 {
  font-size: 26px;
  color: #ffc014;
  font-weight: 400;
  text-transform: capitalize;
}
.cart .container .cart__title p {
  color: #ffffff;
  font-size: 14px;
  margin: 15px 0;
}
.cart .container .cart__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart .container .cart__content .cart__list {
  width: 70%;
}
.cart .container .cart__content .cart__list .cart__list-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(51, 52, 51, 0.8);
}
.cart .container .cart__content .cart__list .cart__list-text .quantity-text {
  display: flex;
  flex-basis: 50%;
  justify-content: space-around;
}
.cart .container .cart__content .cart__list .cart__list-item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.cart .container .cart__content .cart__list .cart__list-item .cart__item {
  display: flex;
  justify-content: space-between;
}
.cart .container .cart__content .cart__list .cart__list-item .cart__item .cart__item-content-left {
  display: flex;
  align-items: flex-start;
}
.cart .container .cart__content .cart__list .cart__list-item .cart__item .cart__item-content-left .cart__item-product-pic {
  margin-right: 30px;
  background-color: #ffffff;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 0px 5px;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
          clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
}
.cart .container .cart__content .cart__list .cart__list-item .cart__item .cart__item-content-left .cart__item-product-pic img {
  width: 70px;
}
.cart .container .cart__content .cart__list .cart__list-item .cart__item .cart__item-content-left .cart__item-product-description {
  color: #ffffff;
  font-size: 14px;
  line-height: 2;
}
.cart .container .cart__content .cart__list .cart__list-item .cart__item .cart__item-content-right {
  display: flex;
  flex-basis: 50%;
  justify-content: space-around;
  align-items: flex-start;
}
.cart .container .cart__content .cart__list .cart__list-item .cart__item .cart__item-content-right .cart__item-button {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffc014;
  border-radius: 10px 0px;
  padding: 2px 0;
  transform: translateX(-7%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart .container .cart__content .cart__list .cart__list-item .cart__item .cart__item-content-right .cart__item-button button {
  padding: 2px 20px;
  font-size: 14px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.cart .container .cart__content .cart__list .cart__list-item .cart__item .cart__item-content-right .cart__item-button button:hover {
  color: #ffc014;
}
.cart .container .cart__content .cart__list .cart__list-item .cart__item .cart__item-content-right .cart__item-button span {
  font-size: 18px;
  margin: 0 10px;
}
.cart .container .cart__content .cart__list .cart__list-item .cart__item .cart__item-content-right .cart__item-total {
  color: #ffffff;
  transform: translateX(-10%);
}
.cart .container .cart__content .cart__total {
  width: 20%;
  padding: 30px 20px;
  background-color: #202221;
  border-radius: 0px 5px;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
          clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
  border-radius: 0 10px;
}
.cart .container .cart__content .cart__total .cart__total-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}
.cart .container .cart__content .cart__total .cart__total-description {
  margin-bottom: 40px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.cart .container .cart__content .cart__total .cart__total-button button {
  width: 100%;
  -webkit-clip-path: none;
          clip-path: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}