// header css
.header {
  .container {
    .header__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      .nav-bar {
        a {
          margin-left: 80px;
          color: $c-secondary;
          font-weight: $fw-normal;
          position: relative;
          transition: all 0.5s;
          &:hover {
            color: $c-primary;
          }
          &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background-color: $c-primary;
            left: 0;
            bottom: -10px;
            transition: all 0.5s;
          }
          &:hover::after {
            width: 100%;
          }
        }
        .active {
          color: $c-primary;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
