/* Custom Default CSS */
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  background-image: $gradient-radial;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $bg-secondary;
}

::-webkit-scrollbar-thumb {
  background: $c-primary;
}

::-webkit-scrollbar-thumb:hover {
  background: $c-primary-light;
}

/* Hide Arrows Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
