/* Color */
$c-primary: #ffc014;
$c-primary-light: #fee715;
$c-secondary: #ffffff;

/* Background Color */
$bg-primary: #131514ff;
$bg-secondary: #202221;
$gradient-radial: radial-gradient(#212322, #0e100f);

/* Text */
$fw-light: 200;
$fw-normal: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fs-1: 34px;
$fs-2: 30px;
$fs-3: 26px;
$fs-4: 22px;
$fs-5: 18px;
$fs-6: 14px;
$fs-7: 12px;
